.table th {
  border-bottom: 1px solid;
  border-left: 1px solid;
}
.table td {
  border-left: 1px solid;
  padding: 2px;
}
.table {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.topbar td {
  border-top: 1px solid;
}
.right-align {
  text-align: right;
}
h1 {
  margin: 0;
}

.to {
  width: 80%
}

.description {
  text-indent: 10px;
  color: #999999;
}
